body {
  margin: 0;
  font-family: Helvetica;
  font-size: 22px;
  color: Seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

a {
  color: Seashell;
}

nav span {
  padding: 10px;
}

header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 10px;
}

.logo img {
  height: 50px;
}
